:root {
	--primary-color: #4472c4;
	--text-color: #424242;
	--background-color: #fffdf6;
	--border-color: #dfdfdf;
	--shadow-color: 45deg 16% 61%;
	--shadow-elevation-low: -0.3px 0.1px 0.4px hsl(var(--shadow-color) / 0.34),
		-0.5px 0.1px 0.6px -1.2px hsl(var(--shadow-color) / 0.34),
		-1.2px 0.2px 1.4px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium: -0.3px 0.1px 0.4px hsl(var(--shadow-color) / 0.36),
		-1px 0.2px 1.1px -0.8px hsl(var(--shadow-color) / 0.36),
		-2.4px 0.4px 2.7px -1.7px hsl(var(--shadow-color) / 0.36),
		-6px 1.1px 6.9px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high: -0.3px 0.1px 0.4px hsl(var(--shadow-color) / 0.34),
		-1.7px 0.3px 1.9px -0.4px hsl(var(--shadow-color) / 0.34),
		-3.2px 0.6px 3.7px -0.7px hsl(var(--shadow-color) / 0.34),
		-5.3px 1px 6.1px -1.1px hsl(var(--shadow-color) / 0.34),
		-8.5px 1.5px 9.7px -1.4px hsl(var(--shadow-color) / 0.34),
		-13.3px 2.4px 15.2px -1.8px hsl(var(--shadow-color) / 0.34),
		-20.2px 3.7px 23.1px -2.1px hsl(var(--shadow-color) / 0.34),
		-29.8px 5.4px 34.1px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* Resets start here */
/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  Remove default margin
*/
* {
	margin: 0;
}

html {
	overflow-y: scroll;
}
/*
  Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
/*
  Typographic tweaks!
   Add accessible line-height and default colours
   Improve text rendering
	 Create a grid layout

*/
body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	color: var(--text-color);
	background-color: var(--background-color);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*  Remove anchor tag default color */
a:link,
a:visited {
	color: var(--text-color);
	font-weight: 600;
	transition: 0.7s;
}

a:hover {
	color: var(--primary-color);
}

a:active {
	color: var(--primary-color);
}

/* Add spacing between paragraphs and sections and articles */
p,
pre,
li {
	margin-bottom: 10px;
}

section,
article {
	margin-bottom: 30px;
}

pre {
	color: white;
	background-color: var(--primary-color);
	padding: 20px;
}

/* */
h3 {
	margin-top: 40px;
}
